body {
    background-color: #FFE0B5;
    color: #404040;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}


.grid {
    border: solid 1px #BFBFBF;
    width: 180px;
    height:180px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.ending-block {
    background-color: #ac257d;
}

.starting-block {
    background-color: #aa4d71;
}



.frog {
    background-color: greenyellow !important;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: #00008a;
}

.c1, .c2 {
    background-color: crimson;
}

.c3, .c4, .c5 {
    background-color: lightgrey;
}
